# init switches to init domain (via init.rc).
type init, domain;
# init is unconfined.
unconfined_domain(init)
tmpfs_domain(init)

# Run sh in its own domain.
domain_auto_trans(init, shell_exec, init_shell)

relabelto_domain(init)
allow init {fs_type dev_type file_type}:dir_file_class_set relabelto;
allow init kernel:security load_policy;
