### Rules to permit SEAdmin to function
### This includes both rules for the app itself (in release_app)
### and for the system_server DevicePolicyManager operations.

# Allow seandroidadmin app to get current state
selinux_getenforce(release_app)

if (manage_selinux) {
access_kmsg(system)
access_audit_logs(system)
selinux_manage_policy(system)
}

if (manage_mac) {
access_logcat(system)
mmac_manage_policy(system)
}
